.header {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 68px;
    position: fixed;
    top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.097);
    background: #0b0f36ad;
    backdrop-filter: blur(10px) !important;
 
z-index: 99;
}

.nav {
    /* background-color: cadetblue; */
    width: calc(100% - 100px);
    max-width: 1400px;
    display: flex;
    align-items: center !important; 
    justify-content: space-between;
    position: relative;
    text-align: center;

  

}

.nav ul {
    display: flex;
    /* background-color: blue; */
    text-align: center;
    align-items: center;
}

.nav ul li {
    list-style: none;

}

.nav ul li a {
    padding: 6px 0px;
    margin: 0px 12px;
    color: rgb(145 142 160); 
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.nav ul li a.active {
    color: rgb(255, 255, 255); 
    border-bottom: 1px solid white;
    font-weight: 600;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: 900;

}

.navbar-toggler {
    display: none;

}

.btn {
    display: none;

}

.demo-btn{
    /* background-color: blue; */
    padding: 10px 40px;
    border: 1px solid rgba(255, 255, 255, 0.464);
    border-radius: 50px;
    margin-left: 30px;
    transition: all 0.4s;
    font-size: 16px;
}

.demo-btn:hover{

    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 40px;
    border: 1px solid rgba(255, 255, 255, 0.464);
    border-radius: 50px;
}


@media (max-width: 670px) {
    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 58px;
        position: fixed;
        z-index: 99;
    }

    .logo {
        font-size: 16px;
    }

    .nav {

        width: calc(100% - 50px);
        max-width: 1400px;
        display: flex;
        align-items: left;
        justify-content: space-between;
        border-radius: 0px;
        z-index: 99999;
/* padding: 0px 20px; */
    }

    .nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 250px;
        gap: 20px;
        position: absolute;
        top: 0px;
        left: -26px;
        /* right: 0px; */
        /* text-align: left; */
        width: 100vw ;
        z-index: 10;
        background: #0b0f36ef;
        backdrop-filter: blur(10px) !important;
        border: 1px solid rgba(255, 255, 255, 0.097);
        transition: all 0.1s ease-in;
        transform: translateY(-100%);
    }

    .nav ul.active {
        transform: translateX(0);
        top: -14px;
        padding-top: 40px;

    }

    .navbar-toggler {
        display: block;
        z-index: 99;
        transition: all 0.4s ease-in;
        /* padding: 4px 8px; */
        /* padding-bottom: 2px !important; */
        height: 34px;
        width: 34px;
        font-size: 18px;
        /* background-color: blue; */
        border: 1px solid rgba(255, 255, 255, 0.464);
    border-radius: 50px;
    }

    .nav ul li {
        text-align: center;
    }

    .btn {
        display: block;
    }

    .demo-btn{
        margin-left: 0px;
    }

}